.rbc-calendar {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 5%;
    padding-bottom: 2%;
  }

  
  

  /* Estilos de las celdas de fecha */
  .rbc-day-bg {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
  }

  .rbc-day-bg:hover {
    background-color: #d8d8d8;
  }
  
  .rbc-today{
    background-color: #c3c3c3;  
  }

  .rbc-off-range-bg{
    background-color: rgb(245, 245, 245);
  }

  /* Estilos para los eventos */
  .rbc-event {
    background-color: #5aa4f3;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9em;
  }

  .rbc-agenda-empty{

    font-size: large;
    font-weight: 900;
  }
  
  .rbc-agenda-view{
    margin-top: 1rem;
  }

  /* Estilos de los días seleccionados */
  .rbc-selected {
    background-color: #5aa4f3;
    color: white;
  }
  
  .rbc-toolbar-label{
    text-transform: uppercase;
    font-size: larger;
  }

  .rbc-toolbar, .rbc-btn-group button{
    font-weight: 700;;
  }

  /* Estilos del encabezado */
  .rbc-header {
    background-color: #5aa4f3;
    color: white;
    font-weight: bold;
  }

  .rbc-header span{
    text-transform: uppercase;
  }
  
  /* Estilos del modal */
  .modal-content {
    width: 40%;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  
  
  /* Botón de cierre del modal */
  .modal-close-button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #007bff;
    cursor: pointer;
    
  }


