/* stylesModal.css */

.modal-content {
  background-color: #fefefe;
  border: 2px #888 solid;
  border-radius: 0.25rem;
  gap: 4%;

}

.form_box{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .form_box form{
    display: flex;
    flex-direction: column;
        
  }

  .form_date {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }
  
  .form_date input[type="date"] {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 0.80rem;
    width: 50%;
    height: 20%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .form_box form select {
    margin-bottom: 0.75rem;
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.80rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #868686;

  }

  .form label{
    font-weight: 600;
  }
  
  
.input{
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

  .input{
    width: 50%;
  }


  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal {
      position: fixed;
      z-index: 100;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
      display: flex;
      justify-content: center;
      align-items: center;
    }


.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content-modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-content-modal button {
  margin-top: 10px;
}